@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  color: #333;
  background-color: whitesmoke;
}

.home-page {
  align-items: center;
  justify-content: center;
  max-width: 900px;
  width: 88vw;
  margin: 4rem auto 0;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.home-page h1 {
  font-size: 3rem;
}

.home-page a {
  margin-top: 2rem;
  border: 2px solid #333;
  padding: 0.5rem 3rem;
}

.home-page a:hover {
  background-color: #003742;
  color: whitesmoke;
}

.main-contain {
  min-height: 90vh;
}

.todos {
  margin: 2rem auto 0;
  width: 700px;
  max-width: 95vw;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  min-height: 90vh;
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #333;
  margin-bottom: 1.5rem;
}

.todo-top {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  background-color: #003742;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.top-text {
  color: whitesmoke;
}

.top-text h3 {
  font-size: 1.4rem;
}

.todo-bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 0.2rem 1rem 0.5rem;
  align-items: baseline;
}

.todo-bottom p {
  text-transform: uppercase;
}

.todo-btns {
  display: flex;
}

button {
  background: none;
  font-family: 'Noto Sans TC', sans-serif;
  color: #333;
  cursor: pointer;
}

a,
a:visited {
  color: #333;
  text-decoration: none;
}

.todo-btns a,
button {
  margin-left: 0.5rem;
  text-transform: uppercase;
  border: solid 2px #333;
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
}

.todo-btns a:hover,
button:hover {
  background-color: #003742;
  color: whitesmoke;
}

/* Individual Todos Page */
.info-container {
  margin: 2rem auto;
  width: 700px;
  max-width: 95vw;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border: 2px solid #333;
}

.todo-info {
  margin-bottom: 1.2rem;
}

.info-conatiner.todo-btns {
  margin-top: 1rem;
}

.back {
  display: flex;
  justify-content: space-evenly;
}

.back-btn {
  border: solid 2px #333;
  padding: 0.3rem 3.5rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.back-btn:hover {
  background-color: #003742;
  color: whitesmoke;
}

/* Add todos */
.add-todo-container {
  margin: 2rem auto;
  width: 700px;
  max-width: 95vw;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border: 2px solid #333;
}

.add-todo-container form input,
.add-todo-container form textarea {
  display: block;
  margin-bottom: 0.5rem;
  background: none;
  border: 2px solid #333;
  padding: 0.5rem;
  width: 100%;
  font-family: 'Noto Sans TC', sans-serif;
}

footer p {
  text-align: center;
}
